.App {
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(58, 69, 72);
  color: #fff;
}
.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.activeLi {
  color: red;
}
.homepage {
  color: #fff;
}
